@font-face {
  font-family: "DisneyFont";
  src: url("../fonts/waltograph42.otf");
}

body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100vw;
  height: 100vh;
}

.memo-gameboard {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  width: fit-content;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.character-div {
  background-color: white;
  width: 120px;
  border-radius: 6px;
}

.character-image {
  width: 100%;
  height: 120px;
}

.character-name {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.closed {
  background-image: url("../img/disney-logo.jpg");
  background-size: cover;
}

.closed .character-image,
.closed .character-name {
  visibility: hidden;
}

.closed:hover {
  position: relative;
  bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button {
  padding: 12px 40px;
  border: 2px solid pink;
  background-color: pink;
  border-radius: 4px;
  color: black;
  text-decoration: none;
}

.button:hover {
  background-color: lightblue;
  border: 2px solid lightblue;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.info-container {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  height: fit-content;
  width: 30%;

  margin: 0 auto; /* centers the div itself */

  display: flex;
  flex-direction: column;
  align-items: center; /* centers content inside */
}

.title {
  text-align: center;
}

h1 {
  font-family: "DisneyFont", sans-serif;
  font-size: 3rem;
  color: white;
}
