body {
  margin: 0;
}

.memo-gameboard {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  width: fit-content;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.character-div {
  border: 1px solid green;
  width: 120px;
}

.character-image {
  width: 100%;
  height: 120px;
}

.character-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid blue;
}
